// color cube
$cube-white: #ffffff;
$cube-lightGrey: #f3f3f3;
$cube-mineShaft: #272727;
$cube-gray: #868686;
$cube-scarlet: #f72b0c;
$cube-cloud: #c6c1bd;
$cube-froly: #f0776b;

// color median cut
$median-masala: #403d3b;
$median-dustStorm: #e4cdc9;
$median-naturalGrey: #8b8a87;
$median-dustGray: #9c9c9c;
$media-sushi: #86b54a;

// color material design
$material-sushi: #86b54a;
$material-chicago: #5d5d5c;
$material-thunderbird: #bf351f;
$material-black: #040404;
$material-burntSienna: #e97c62;